@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&family=Pixelify+Sans&display=swap');

body {
    background-color: #041C03;
    margin: 0;
}

h1 {
    color: #687468;
    width: max-content;
    padding: 1.6px;
    text-align: center;
    margin: auto;
    margin-top: 25vh;
    font-size: 10em;
    font-family: 'Pacifico', cursive;
}

nav {
    width: max-content;
    margin: auto;
    font-size: 1.75em;
    font-family: 'Oswald', sans-serif;
    font-family: 'Pixelify Sans', sans-serif;
}

nav a {
    text-decoration: none;
    border: solid;
    border-radius: 0.5em;
    padding: 0.5em;
}

nav a#linkedin { color: #E6ECE6; }
nav a#github { color: #E6ECE6; }
nav a#linkedin:hover, nav a#github:hover { color: #747A74; }
